* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    color: hsl(228, 12%, 48%);
}

.main-img {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    width: 65%;
    height: 500px;
    border-radius: 10px 0 0 10px;
}

.main-text {
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.main-text > h1 {
    font-family: 'Fraunces', sans-serif;
    color: #000;
}

.main-text > h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
}

.main-text > p {
    font-size: 14px;
    text-align: left;
}

.main-text .pricePromocional {
    font-family: 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 2em;
    display: flex;
    gap: 20px;
}

.main-text .fullPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    align-self: center;
}

.main-text > button {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 10px;
}

.main-text > button > i {
    margin-right: 15px;
}